<phpunit colors="true">
  <php>
    <const name="INFUSE_BASE_DIR">.</const>
  </php>

  <listeners>
    <listener file="vendor/autoload.php"></listener>
    <listener class="TestBootstrap"></listener>
  </listeners>

  <testsuites>
    <testsuite name="Auth">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-html" target="build/coverage" title="PHP_CodeCoverage" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix=".php">src/migrations</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
